.about-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 5vh;
}

h2{
    margin-top: 5vh;
}

.h2-description{
    font-size: 2vw;
    text-align: center;
}

li{
    text-align: center;
    list-style-type: none;
}